<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="/img/logo.jpg" alt="MotherDiary">
            <h6>MotherDiadry</h6>
        </div>
        <div class="button">
            <a href="/signin"><button type="submit" id="signin" class="btn">Sign in</button></a>
            <a href="/signup"><button type="submit"id='signup' class="btn">Sign up</button></a>
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
    </div>
    <div class="background">
        <div class="box">
            <div class="text">
                <h1>
                    Welcome Home
                </h1>
                <p>
                    "Embark on Your Home Management Adventure Today"
                </p>

                <a href="/signup"><button type="submit"  id='Start' class="btn">Start</button></a>


            </div>
            

        </div>
    </div>

    <section class="feature">
        <div class="fbox">
            <div class="para">
                <h1>
                    Simple Daily Entries
                </h1>
                <p>
                    Easily log your daily activities like milk deliveries, grocery trips, and more with our easy-to-use
                    forms.
                </p>
            </div>
            <div class="fimage">
                <img src="/img/dailyEntry.jpg" alt="">
            </div>
        </div>
        <div class="fbox rfbox">
            <div class="para">
                <h1>
                    Privacy First
                </h1>
                <p>
                    Your privacy matters to us! We take every measure to ensure your personal information stays secure
                    at all times.
                </p>
            </div>
            <div class="fimage">
                <img src="/img/privacy.jpg" alt="">
            </div>
        </div>
        <div class="fbox">
            <div class="para">
                <h1>
                    Manage Anywhere
                </h1>
                <p>
                    Access your home management tools on the go with our mobile-friendly website.
                </p>
            </div>
            <div class="fimage">
                <img src="/img/mobile.jpg" alt="">

            </div>
        </div>
        <div class="fbox rfbox">
            <div class="para">
                <h1>
                    Paperless Organization
                </h1>
                <p>
                    Say goodbye to cluttered drawers! Store receipts, warranties, and manuals online for easy access
                    from anywhere.
                </p>
            </div>
            <div class="fimage">
                <img src="/img/paper.jpg" alt="">
            </div>
        </div>

    </section>

    <section class="enquiry">
    <div class="form">
        <h1>Any enquiry?</h1>
        <form action="/sendEnquiry" method="post">
            <input type="text" name="name" placeholder="name" required>
            <input type="email" name="email" placeholder="email" required>
            <textarea name="enquiry" placeholder="comment" required></textarea>
            <button type="submit">submit</button>
        </form>
    </div>
</section>



    <footer class="footer">
        
            All right reserved © | www.motherDiary.com | 2024 pvt. ltd.    

        
    </footer>
    <script src="https://kit.fontawesome.com/e69507a661.js" crossorigin="anonymous"></script>
</body>

</html>