<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/signin.css">
</head>

<body>
    <div class="top-bar">


            <a href="/home">Home page</a>
            
        </div>
    </div>
    <div class="signinform">
        <div class="signinbox">
            <h2>Sign In</h2>
            <form id="signin-form" method="post" action="/user/signin">
                <input type="text" name="username" id="user" placeholder="Username" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <a href="#" id="fp">Forgot Password</a>
                <button type="submit" class="btn">Sign In</button>
                <p class="text">New member? <a href="/signup">Sign up</a></p>
            </form>
        </div>
    </div>
     <footer class="footer">
        
            All right reserved © | www.motherDiary.com | 2024 pvt. ltd.    

        
    </footer>
    <script src="https://kit.fontawesome.com/e69507a661.js" crossorigin="anonymous"></script>

</body>

</html>
